################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwentyOneGame/.vs/TwentyOneGame/v15/Server/sqlite3/db.lock
